<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card
    mode="ios"
    color="primary"
  >
    <ion-card-header>
      <ion-card-title>Mi titulo</ion-card-title>

      <ion-card-subtitle>Mi subtitulo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      My content...My content...My content...My content...My content...My content...
      My content...My content...My content...My content...My content...My content...
      My content...My content...My content...My content...My content...My content...
      My content...My content...My content...My content...My content...My content...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="location"></ion-icon>

      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente similique fugit, repudiandae repellat repellendus at praesentium, in qui inventore ad, minus doloremque iusto enim doloribus velit nihil cum explicabo iure?
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit numquam quam qui veniam, accusantium doloremque sapiente voluptas fugiat dolor beatae quod hic molestiae, iusto odio vitae, quis deleniti placeat voluptatibus!
    </ion-card-content>

  </ion-card>
  
</ion-content>